body, .rowdata {
	background-color: #fff;
}

body {
	margin: 0;
}

table {
	border-collapse: collapse;
}

body, td, input, textarea, select {
	font-family: 'NotoSans CJK TC', 'PingFeng TC', Arial, Helvetica, sans-serif;
	color: #333;
}

.rowdatasel {
	background-color: #ffb;
}

.files tr:nth-child(2n+1) {
	background-color: #f0f8f8;
}

td {
	vertical-align: top;
}

td.header {
	background-color: #f0f0ff;
	vertical-align: middle;
	padding: .3em .2em;
}

td.title {
	padding: .2em .3em;
	background: linear-gradient(#eef, #bbc);
	font-weight: bold;
	font-size: 1.1em;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
}

small {
	font-size: .8em;
	color: #777;
}


a, a:link, a:visited {
	color: #223344;
	text-decoration: none;
}

a:hover, a:active {
	color: #778899;
	text-decoration: none;
}

.toolbar table td {
	padding: 0;
}

.toolbar table td.splitter {
	width: 1em;
}

.toolbar table td a img {
	padding: 0 .2em 0 .1em;
}

.toolbar table td a, .button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size: .93em;
	font-weight: 600;
	padding: .375em .3em;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.toolbar table td a:hover, .button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
